com.piece_framework.makegood.launch/bin
com.piece_framework.makegood.ui/bin
com.piece_framework.makegood.launch.test/bin
com.piece_framework.makegood.aspect.include_path_protection/bin
com.piece_framework.makegood.aspect.include_path_settings/bin
