<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.piece_framework.makegood.launch.MakeGoodLaunchConfigurationDelegate"
            id="com.piece_framework.makegood.launch.makegoodLaunchConfigurationType"
            modes="run"
            name="MakeGood Launch Configuration Delegate"
            public="false">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.piece_framework.makegood.launch.MakeGoodLaunchConfigurationDelegate"
            id="com.piece_framework.makegood.launch.makegoodLaunchDelegate"
            modes="debug"
            name="MakeGood Launch Delegate"
            sourceLocatorId="com.piece_framework.makegood.launch.makegoodSourceLocator"
            sourcePathComputerId="org.eclipse.php.debug.core.sourcePathComputer.php"
            type="com.piece_framework.makegood.launch.makegoodLaunchConfigurationType">
         <modeCombination
               modes="debug"
               perspective="org.eclipse.php.debug.ui.PHPDebugPerspective">
         </modeCombination>
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="com.piece_framework.makegood.launch.PHPSourceLookupDirector"
            id="com.piece_framework.makegood.launch.makegoodSourceLocator"
            name="MakeGood Source Locator">
      </sourceLocator>
   </extension>

</plugin>
