<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.piece_framework.makegood.launch.MakeGoodLaunchConfigurationDelegate"
            id="com.piece_framework.makegood.launch.launchConfigurationTypes.makeGood"
            modes="run,debug"
            name="%launchConfigurationTypes.makeGood.name"
            public="false">
      </launchConfigurationType>
   </extension>

</plugin>
