<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.piece_framework.makegood.ui.category"
            name="MakeGood">
      </category>
      <view
            category="com.piece_framework.makegood.ui.category"
            class="com.piece_framework.makegood.ui.views.TestResultView"
            icon="icons/MakeGood.gif"
            id="com.piece_framework.makegood.ui.views.resultView"
            name="MakeGood"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.piece_framework.makegood.ui.launch.MakeGoodLaunchShortcut"
            id="com.piece_framework.makegood.ui.launchShortcut"
            label="MakeGood"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <count
                     value="*">
               </count></enablement>
         </contextualLaunch>
         <configurationType
               id="com.piece_framework.makegood.launch.launchConfigurationType">
         </configurationType>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="com.piece_framework.makegood.ui.runTestSeparator"
               visible="true">
         </separator>
         <command
               commandId="com.piece_framework.makegood.ui.RunTest"
               icon="icons/MakeGood.gif"
               label="Run test"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <or>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.core.resources.IFolder">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.dltk.core.IProjectFragment">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.dltk.core.IScriptFolder">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.dltk.core.IModule">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.dltk.core.IType">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.dltk.core.IMethod">
                           </adapt>
                        </iterate>
                     </and>
                  </or>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.piece_framework.makegood.ui.RunTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handler.RunTestFromExplorer"
            id="com.piece_framework.makegood.ui.RunTest"
            name="RunTest">
      </command>
      <category
            id="com.piece_framework.makegood.ui.RunTestCategory"
            name="RunTestCategory">
      </category>
   </extension>

</plugin>
