<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.piece_framework.makegood.ui.definitions.phpContentType">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="org.eclipse.php.core.phpsource">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.piece_framework.makegood.ui.views.makeGoodCategory"
            name="%views.makeGoodCategory.name">
      </category>
      <view
            category="com.piece_framework.makegood.ui.views.makeGoodCategory"
            class="com.piece_framework.makegood.ui.views.ResultView"
            icon="icons/MakeGood.gif"
            id="com.piece_framework.makegood.ui.views.resultView"
            name="%views.resultView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="Run tests separator"
               visible="true">
         </separator>
         <command
               commandId="com.piece_framework.makegood.ui.commands.runTestFromExplorer"
               icon="icons/MakeGood.gif"
               label="%commands.runTestFromExplorer.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <or>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.core.resources.IFolder">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.dltk.core.IProjectFragment">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.dltk.core.IScriptFolder">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.dltk.core.IModule">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.dltk.core.IType">
                           </adapt>
                        </iterate>
                     </and>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.dltk.core.IMethod">
                           </adapt>
                        </iterate>
                     </and>
                  </or>
               </with>
            </visibleWhen>
         </command>
         <menu
               icon="icons/MakeGood.gif"
               label="%menu.runTestsFor.label">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.piece_framework.makegood.ui.definitions.phpContentType">
               </reference>
            </visibleWhen>
            <command
                  commandId="com.piece_framework.makegood.ui.commands.runTestFromEditor"
                  label="%commands.runTestFromEditor.label"
                  style="push">
            </command>
            <command
                  commandId="com.piece_framework.makegood.ui.commands.runTestFromEditorInClass"
                  label="%commands.runTestFromEditorInClass.label"
                  style="push">
            </command>
            <command
                  commandId="com.piece_framework.makegood.ui.commands.runTestFromEditorInFile"
                  label="%commands.runTestFromEditorInFile.label"
                  style="push">
            </command>
         </menu>
         <command
               commandId="com.piece_framework.makegood.ui.commands.runRelatedTestFromEditor"
               icon="icons/MakeGood.gif"
               label="%commands.runRelatedTestFromEditor.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.piece_framework.makegood.ui.definitions.phpContentType">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.piece_framework.makegood.ui.commands.runAllTests"
               icon="icons/MakeGood.gif"
               label="%commands.runAllTests.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.piece_framework.makegood.ui.commands.runTestCategory"
            name="%commands.runTestCategory.name">
      </category>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.RunTestFromExplorerHandler"
            id="com.piece_framework.makegood.ui.commands.runTestFromExplorer"
            name="%commands.runTestFromExplorer.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.RunTestFromEditorHandler"
            id="com.piece_framework.makegood.ui.commands.runTestFromEditor"
            name="%commands.runTestFromEditor.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.RunTestFromEditorInClassHandler"
            id="com.piece_framework.makegood.ui.commands.runTestFromEditorInClass"
            name="%commands.runTestFromEditorInClass.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.RunTestFromEditorInFileHandler"
            id="com.piece_framework.makegood.ui.commands.runTestFromEditorInFile"
            name="%commands.runTestFromEditorInFile.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.RunRelatedTestFromEditorHandler"
            id="com.piece_framework.makegood.ui.commands.runRelatedTestFromEditor"
            name="%commands.runRelatedTestFromEditor.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.RunAllTestsHandler"
            id="com.piece_framework.makegood.ui.commands.runAllTests"
            name="%commands.runAllTests.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.piece_framework.makegood.ui.commands.resultViewCategory"
            name="%commands.resultViewCategory.name">
      </category>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.resultViewCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.NextFailureHandler"
            id="com.piece_framework.makegood.ui.commands.nextFailedTest"
            name="%commands.nextFailedTest.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.resultViewCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.PreviousFailureHandler"
            id="com.piece_framework.makegood.ui.commands.previousFailedTest"
            name="%commands.previousFailedTest.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.resultViewCategory"
            id="com.piece_framework.makegood.ui.commands.showFailuresOnly"
            name="%commands.showFailuresOnly.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.StopOnFailure"
            id="com.piece_framework.makegood.ui.commands.stopOnFailure"
            name="%commands.stopOnFailure.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.DebugTestHandler"
            id="com.piece_framework.makegood.ui.commands.debugTest"
            name="%commands.debugTest.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.RunAllTestsWhenFileIsSavedHandler"
            id="com.piece_framework.makegood.ui.commands.runAllTestsWhenFileIsSaved"
            name="%commands.runAllTestsWhenFileIsSaved.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.StopTest"
            id="com.piece_framework.makegood.ui.commands.stopTest"
            name="%commands.stopTest.name">
      </command>
      <command
            categoryId="com.piece_framework.makegood.ui.commands.runTestCategory"
            defaultHandler="com.piece_framework.makegood.ui.handlers.RerunTestHandler"
            id="com.piece_framework.makegood.ui.commands.rerunTest"
            name="%commands.rerunTest.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.piece_framework.makegood.ui.propertyPages.MakeGoodPropertyPage"
            icon="icons/MakeGood.gif"
            id="com.piece_framework.makegood.ui.propertyPages.makeGood"
            name="%propertyPages.makeGood.name">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.dltk.core.IScriptProject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.piece_framework.makegood.ui.contexts.resultView"
            name="%contexts.resultView.name">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.piece_framework.makegood.ui.commands.nextFailedTest"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M J">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.previousFailedTest"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M K">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.showFailuresOnly"
            contextId="com.piece_framework.makegood.ui.contexts.resultView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.rerunTest"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M R">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.runTestFromEditor"
            contextId="org.eclipse.php.core.phpsource"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M C">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.runAllTests"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M A">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.runAllTestsWhenFileIsSaved"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M U">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.runTestFromExplorer"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M X">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.runTestFromEditorInClass"
            contextId="org.eclipse.php.core.phpsource"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M L">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.runTestFromEditorInFile"
            contextId="org.eclipse.php.core.phpsource"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M F">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.runRelatedTestFromEditor"
            contextId="org.eclipse.php.core.phpsource"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M D">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.stopOnFailure"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M E">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.stopTest"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M S">
      </key>
      <key
            commandId="com.piece_framework.makegood.ui.commands.debugTest"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M B">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.piece_framework.makegood.ui.viewActions.resultView"
            targetID="com.piece_framework.makegood.ui.views.resultView">
         <action
               class="com.piece_framework.makegood.ui.actions.ShowFailuresOnlyAction"
               definitionId="com.piece_framework.makegood.ui.commands.showFailuresOnly"
               icon="icons/showFailuresOnly.gif"
               id="com.piece_framework.makegood.ui.viewActions.resultView.showFailuresOnly"
               label="%resultView.showFailuresOnly.label"
               style="toggle"
               toolbarPath="additions"
               tooltip="%resultView.showFailuresOnly.tooltip">
         </action>
         <action
               class="com.piece_framework.makegood.ui.actions.PreviousFailedTestAction"
               definitionId="com.piece_framework.makegood.ui.commands.previousFailedTest"
               icon="icons/previousFailedTest.gif"
               id="com.piece_framework.makegood.ui.viewActions.resultView.previousFailedTest"
               label="%resultView.previousFailedTest.label"
               style="push"
               toolbarPath="additions"
               tooltip="%resultView.previousFailedTest.tooltip">
         </action>
         <action
               class="com.piece_framework.makegood.ui.actions.NextFailedTestAction"
               definitionId="com.piece_framework.makegood.ui.commands.nextFailedTest"
               icon="icons/nextFailedTest.gif"
               id="com.piece_framework.makegood.ui.viewActions.resultView.nextFailedTest"
               label="%resultView.nextFailedTest.label"
               style="push"
               toolbarPath="additions"
               tooltip="%resultView.nextFailedTest.tooltip">
         </action>
         <action
               class="com.piece_framework.makegood.ui.actions.StopOnFailureAction"
               definitionId="com.piece_framework.makegood.ui.commands.stopOnFailure"
               icon="icons/stopOnFailure.gif"
               id="com.piece_framework.makegood.ui.viewActions.resultView.stopOnFailure"
               label="%resultView.stopOnFailure.label"
               style="toggle"
               toolbarPath="additions"
               tooltip="%resultView.stopOnFailure.tooltip">
         </action>
         <action
               class="com.piece_framework.makegood.ui.actions.DebugTestAction"
               definitionId="com.piece_framework.makegood.ui.commands.debugTest"
               icon="icons/debugTest.gif"
               id="com.piece_framework.makegood.ui.viewActions.resultView.debugTest"
               label="%resultView.debugTest.label"
               style="toggle"
               toolbarPath="additions"
               tooltip="%resultView.debugTest.tooltip">
         </action>
         <action
               class="com.piece_framework.makegood.ui.actions.RunAllTestsWhenFileIsSavedAction"
               definitionId="com.piece_framework.makegood.ui.commands.runAllTestsWhenFileIsSaved"
               icon="icons/runAllTestsWhenFileIsSaved.gif"
               id="com.piece_framework.makegood.ui.viewActions.resultView.runAllTestsWhenFileIsSaved"
               label="%resultView.runAllTestsWhenFileIsSaved.label"
               style="toggle"
               toolbarPath="additions"
               tooltip="%resultView.runAllTestsWhenFileIsSaved.tooltip">
         </action>
         <action
               class="com.piece_framework.makegood.ui.actions.StopTestAction"
               definitionId="com.piece_framework.makegood.ui.commands.stopTest"
               icon="icons/stopTest.gif"
               id="com.piece_framework.makegood.ui.viewActions.resultView.stopTest"
               label="%resultView.stopTest.label"
               style="push"
               toolbarPath="additions"
               tooltip="%resultView.stopTest.tooltip">
         </action>
         <action
               class="com.piece_framework.makegood.ui.actions.RerunTestAction"
               definitionId="com.piece_framework.makegood.ui.commands.rerunTest"
               icon="icons/rerunTest.gif"
               id="com.piece_framework.makegood.ui.viewActions.resultView.rerunTest"
               label="%resultView.rerunTest.label"
               style="push"
               toolbarPath="additions"
               tooltip="%resultView.rerunTest.tooltip">
         </action>
         <action
               class="com.piece_framework.makegood.ui.actions.RunAllTestsAction"
               definitionId="com.piece_framework.makegood.ui.commands.runAllTests"
               icon="icons/runAllTests.gif"
               id="com.piece_framework.makegood.ui.viewActions.resultView.runAllTests"
               label="%resultView.runAllTests.label"
               style="push"
               toolbarPath="additions"
               tooltip="%resultView.runAllTests.tooltip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.piece_framework.makegood.ui.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.piece_framework.makegood.ui.preferencePages.MakeGoodPreferencePage"
            id="com.piece_framework.makegood.ui.preferencePages.makeGood"
            name="%preferencePages.makeGood.name">
      </page>
   </extension>
   <extension
         id="com.piece_framework.makegood.ui.markers.testMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="com.piece_framework.makegood.ui.markers.testFailureMarker"
         name="MakeGood Test Failure"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.piece_framework.makegood.ui.markers.testMarker">
      </super>
   </extension>
   <extension
         id="com.piece_framework.makegood.ui.markers.testErrorMarker"
         name="MakeGood Test Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.piece_framework.makegood.ui.markers.testMarker">
      </super>
   </extension>
   <extension
         id="com.piece_framework.makegood.ui.markers.fatalErrorMarker"
         name="MakeGood Fatal Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="com.piece_framework.makegood.ui.markers.testMarker"
            name="com.piece_framework.makegood.ui.markers.testMarkerAnnotation"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            markerType="com.piece_framework.makegood.ui.markers.testFailureMarker"
            name="com.piece_framework.makegood.ui.markers.testFailureMarkerAnnotation"
            super="com.piece_framework.makegood.ui.markers.testMarkerAnnotation">
      </type>
      <type
            markerType="com.piece_framework.makegood.ui.markers.testErrorMarker"
            name="com.piece_framework.makegood.ui.markers.testErrorMarkerAnnotation"
            super="com.piece_framework.makegood.ui.markers.testMarkerAnnotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.piece_framework.makegood.ui.markers.testFailureMarkerAnnotation"
            icon="icons/failure-gray.gif">
      </specification>
      <specification
            annotationType="com.piece_framework.makegood.ui.markers.testErrorMarkerAnnotation"
            icon="icons/error-gray.gif">
      </specification>
   </extension>

</plugin>
