<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Stagehand_TestRunner"
            id="com.piece_framework.stagehand_testrunner">
      </category>
      <view
            category="com.piece_framework.stagehand_testrunner"
            class="com.piece_framework.stagehand_testrunner.views.ResultView"
            icon="icons/Stagehand_TestRunner.gif"
            id="com.piece_framework.stagehand_testrunner.views.resultView"
            name="Result View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.piece_framework.stagehand_testrunner.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.piece_framework.stagehand_testrunner.StagehandTestRunnerLaunchConfigurationDelegate"
            id="com.piece_framework.stagehand_testrunner.launchConfigurationType"
            modes="run,debug"
            name="Stagehand_TestRunner"
            public="false">
         <fileExtension
               default="true"
               extension="php">
         </fileExtension>
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.piece_framework.stagehand_testrunner.StagehandTestRunnerLaunchShortcut"
            id="com.piece_framework.stagehand_testrunner.shortcut"
            label="Stagehand_TestRunner"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <count
                     value="*">
               </count>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="com.piece_framework.stagehand_testrunner.launchConfigurationType">
         </configurationType>
      </shortcut>
   </extension>

</plugin>
